.item__circle {
  width: 70px;
  height: 70px;
  background-color: #28B463;
  border-radius: 50%;
  border: 1px solid grey;
  margin: 10px;
}

.item__square {
  width: 70px;
  height: 70px;
  background-color: #2E86C1;
  border: 1px solid grey;
  margin: 10px;
}